/* --------------------------------------------
 * --- TEMPLATE COLORS 
 * -------------------------------------------- */

.color_light {color: #D0E467;}
.color_dark {color: #84981B;}
.bg_color_light {background-color: #D0E467;}
.bg_color_dark {background-color: #84981B;}
#horizontal_menu ul li a {color: #ffffff;}
#horizontal_menu ul li a:hover {background-color: #D0E467;}
#horizontal_menu ul li a.home {background-image: url('../../syjon/images/icons/icon_home_2.png');}