{% extends "column_1.html" %}
{% load i18n %}

{% block page_title %} {% trans "Research" %} {% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}johnson/css/style.css" type="text/css" />
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block horizontal_menu_items %}
    <li><a href="{% url apps.johnson.views.plans %}">{% trans "Plans" %}</a></li>
    <li><a href="{% url apps.johnson.views.reports %}">{% trans "Reports" %}</a></li>
{% endblock %}

{% block content %}
    Hello, world!
{% endblock %}

{% block footer_version %} Johnson {% endblock %}