{% extends "johnson/index.html" %}
{% load i18n %}

{% block page_title %} {% trans "Plans" %} {% endblock %}


{% block breadcrumb %}
    {{ block.super }}
    <a href="{% url apps.johnson.views.index %}">{% trans "Research" %}</a>
{% endblock %}

{% block content %}
    <h1>{% trans "Plans" %}</h1>

    <a href="{% url apps.johnson.views.plans_staff %}" class="link_0 link_edit">{% trans "Staff "%}</a>
    <a href="{% url apps.johnson.views.plans_research_add %}" class="link_0 link_add">{% trans "Add research item "%}</a>
    <a href="{% url apps.johnson.views.plans_srd %}" class="link_0 link_edit">{% trans "SRD "%}</a>
{% endblock %}