{% extends "johnson/index.html" %}
{% load i18n %}

{% block page_title %} {% trans "Add research" %} {% endblock %}


{% block breadcrumb %}
    {{ block.super }}
    <a href="{% url apps.johnson.views.index %}">{% trans "Research" %}</a>
{% endblock %}

{% block content %}
    <h1>{% trans "Add research item to the plan" %}</h1>

    <form method="post" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <table class="table_0">
	        <tbody>
                <tr>
            		<td class="label">{{ form.continued_research.label }}:</td>
            		<td>{{ form.continued_research.errors }}{{ form.continued_research }}</td>
            	</tr>
	        	<tr>
            		<td class="label">
                        {{ form.name.label }}:
                    </td>
            		<td>
                        <p>{{ form.name.errors }}{{ form.name }}</p>
                        <p>{{ form.name.help_text }}</p>
                    </td>
            	</tr>
	        	<tr>
            		<td class="label">{{ form.goal.label }}:</td>
            		<td>{{ form.goal.errors }}{{ form.goal }}</td>
            	</tr>
	        	<tr>
            		<td class="label">{{ form.effects.label }}:</td>
            		<td>{{ form.effects.errors }}{{ form.effects }}</td>
            	</tr>
	        	<tr>
            		<td class="label">{{ form.year.label }}:</td>
            		<td>{{ form.year.errors }}{{ form.year }}</td>
            	</tr>
	        	<tr>
            		<td class="label">{{ form.unit.label }}:</td>
            		<td>{{ form.unit.errors }}{{ form.unit }}</td>
            	</tr>
	        </tbody>
	    </table>
        <div class="spacer_5"></div>

        <table class="table_0">
            <tbody>
                <tr>
                    <td>
                        <button class="button_2" type="submit" name="save">{% trans "Save" %}</button>
                        <button class="button_2" type="submit" name="save_and_edit">{% trans "Save and continue" %}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}