{% extends "johnson/index.html" %}
{% load i18n %}

{% block page_title %} {% trans "Staff" %} {% endblock %}


{% block breadcrumb %}
    {{ block.super }}
    <a href="{% url apps.johnson.views.index %}">{% trans "Research" %}</a>
    &raquo; <a href="{% url apps.johnson.views.plans %}">{% trans "Plans" %}</a>
{% endblock %}

{% block content %}
    <h1>{% trans "Staff" %}</h1>

{% endblock %}