{% extends "johnson/index.html" %}
{% load i18n %}

{% block page_title %} {% trans "Reports" %} {% endblock %}


{% block breadcrumb %}
    {{ block.super }}
    <a href="{% url apps.johnson.views.index %}">{% trans "Research" %}</a>
{% endblock %}

{% block content %}
    <h1>{% trans "Reports" %}</h1>

{% endblock %}